.flex-container {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    height: 300px;
    width: 100vw;
  }
.flex-container .item{
  width: 31vw;
    height: 160px;
    background-color: blue;
    margin: 70px 10px;
}